# =====================================
# Database Configuration
# =====================================
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# =====================================
# JWT Configuration
# =====================================
JWT_SECRET=

# =====================================
# Spotify API
# =====================================
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_STATE_SECRET=

# =====================================
# Last.fm API
# =====================================
LASTFM_API_KEY=

# =====================================
# Gemini API
# =====================================
GEMINI_API_KEY=